@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --main-color: #3fa4c9;
  --body-color: #d5ebf3;
  --box-color: white;
  --dark-color: rgba(0, 0, 0, 0.8);
  --darkgrey-color: rgba(0, 0, 0, 0.65);
  --mediumgrey-color: rgba(0, 0, 0, 0.5);
  --lightgrey-color: rgba(0, 0, 0, 0.18);
  --light-color: rgba(0, 0, 0, 0.08);
  --alert-color: #ca3b33;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: var(--body-color);
  font-size: 0.875rem;
  color: var(--regular-color);
}

a {
  line-height: 1.375rem;
  color: var(--main-color);
  text-decoration: none;
}
a:hover {
  opacity: 0.7;
}

h1 {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.75rem;
  color: var(--dark-color);
}

.button {
  margin-top: 1rem;
  padding: 0.875rem 1.875rem;
  display: block;
  text-align: center;
  background-color: var(--main-color);
  color: var(--box-color);
  min-height: 3.125rem;
  font-size: 1rem;
  border-radius: 0.75rem;
  line-height: 1.375rem;
  font-weight: 400;
  border: none;
  cursor: pointer;
}
.button:hover {
  opacity: 0.8;
}

.button-small {
  min-height: 2.5rem;
  padding: 0.5rem 1.875rem;
}

.secondary-button {
  background-color: var(--light-color);
  color: var(--main-color);
}

.box-button {
  max-width: 12rem;
}

.box-title {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
  margin-bottom: 0.625rem;
  color: var(--dark-color);
}

.box-text {
  color: var(--mediumgrey-color);
  margin-bottom: 0.625rem;
}
.box-text:last-child {
  margin-bottom: 0;
}

.box {
  padding: 1.5rem 1.25rem;
  display: flex;
  flex-flow: column;
  border-radius: 0.75rem;
  background: var(--box-color);
}
.box .box-text {
  color: var(--mediumgrey-color);
}

.invisible-box {
  display: flex;
  flex-flow: column;
  margin-right: 2.5rem;
}
.invisible-box:last-child {
  margin-right: 0;
}
.invisible-box .box-text {
  color: var(--mediumgrey-color);
}

.logo-box {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.logo-box .logo-symbol {
  background: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-box .logo-symbol .logo-icon {
  fill: white;
  color: white;
}
.logo-box .logo-text {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: var(--dark-color);
}
.logo-box:hover {
  opacity: 0.8;
}

/*
form {
  margin-bottom: 1.25rem;
  &:last-child {
    margin-bottom: 0;
  }
  .form-field {
    margin-bottom: 0.75rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .input-text {
    padding: 0 1rem;
    display: block;
    width: 100%;
    height: 2.5rem;
    border: solid 0.0625rem var(--lightgrey-color);
    border-radius: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
    &:focus {
      outline: none;
      border-color: var(--main-color);
    }

    &:disabled {
     // border: 0.0625rem solid var(--alert-color);
      color: var(--darkgrey-color);
      background: var(--light-color);
    }
  }
  .label {
    left: 1rem;
    bottom: 0.875rem;
    font-family: "Inter", sans-serif;
    font-size: 0.75rem;
    line-height: 1.375rem;
    font-weight: 300;
    color: var(--darkgrey-color);
    cursor: text;
    transition: transform 0.2s, font-size 0.2s;
    &::before {
      z-index: -1;
      content: "";
      position: absolute;
      left: -0.25rem;
      top: 0.25rem;
      width: calc(100% + 0.5rem);
      height: 1rem;
      background: var(--box-color);
    }
  }
  .submit-btn {
    width: 100%;
    max-width: auto !important;
    height: 3.125rem;
  }
}
*/
form {
  margin-top: 1.25rem;
  margin-bottom: 1.5rem;
}
form:last-child {
  margin-bottom: 0;
}
form .form-field {
  position: relative;
  margin-bottom: 1rem;
}
form .form-field:last-child {
  margin-bottom: 0;
}
form .input-text {
  padding: 0 1rem;
  display: block;
  width: 100%;
  height: 3.125rem;
  border: solid 0.0625rem var(--lightgrey-color);
  border-radius: 0.75rem;
  font-size: 1rem;
  line-height: 1.375rem;
  font-weight: 400;
}
form .input-text:focus {
  outline: none;
  border-color: var(--main-color);
}
form .input-text:focus + .label, form .input-text.not-empty + .label {
  transform: translateY(-1.5rem);
  font-size: 12px;
}
form .input-text:disabled {
  color: var(--darkgrey-color);
  border-color: var(--light-color);
}
form .label {
  position: absolute;
  left: 1rem;
  bottom: 0.875rem;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  line-height: 1.375rem;
  font-weight: 400;
  color: var(--darkgrey-color);
  cursor: text;
  transition: transform 0.2s, font-size 0.2s;
}
form .label::before {
  z-index: -1;
  content: "";
  position: absolute;
  left: -0.25rem;
  top: 0.25rem;
  width: calc(100% + 0.5rem);
  height: 1rem;
  background: var(--box-color);
}
form .submit-btn {
  width: 100%;
  max-width: auto !important;
  height: 3.125rem;
  margin-top: 1.25rem;
}

select {
  -webkit-appearance: none;
  appearance: none;
  border: 0;
  font-size: 0.875rem;
  font-weight: 400;
  color: inherit;
  outline: none;
  cursor: pointer;
}

.switch {
  margin: auto 0 auto auto;
  display: flex;
  background: var(--box-color);
  border: 0.0625rem solid var(--lightgrey-color);
  border-radius: 0.5rem;
  height: 2.5rem;
  overflow: hidden;
  flex: 0 0 5.0625rem;
}
.switch .active {
  color: var(--main-color);
}

.switch-button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--darkgrey-color);
  width: 2.5rem;
  border-right: 0.0625rem solid var(--lightgrey-color);
  cursor: pointer;
}
.switch-button:last-child {
  border-right: 0;
}
.switch-button:hover {
  background: rgba(0, 0, 0, 0.03);
}

.login-pg {
  padding: 3.75rem 2.5rem;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.login-pg .logo-box {
  margin-bottom: 3.75rem;
}
.login-pg .logo-box .logo-symbol {
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 0.5rem;
  font-size: 2rem;
}
.login-pg .logo-box .logo-text {
  margin-left: 1.25rem;
  font-size: 1.5625rem;
}
.login-pg .box {
  width: 100%;
  max-width: 23.375rem;
}

.app {
  display: flex;
  flex-flow: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.navbar {
  width: 100vw;
  flex: 0 0 3.75rem;
}

.content-box {
  flex: 1 1 0;
  display: flex;
}

.content-sidebar,
.content-tab {
  height: calc(100vh - 3.75rem);
}

.content-sidebar {
  flex: 0 0 18rem;
}

.content-tab {
  flex: 1 1 0;
}

.sidebar-title-box,
.content-sidebar ul {
  width: 18rem;
  /* Same as .content-sidebar */
}

.navbar {
  z-index: 1;
  padding-left: 3.125rem;
  background: var(--box-color);
  box-shadow: 0 0.125rem 0.5rem var(--light-color);
  display: flex;
  align-items: center;
  overflow-y: auto;
}
.navbar .logo-box-navbar {
  padding: 0.625rem;
  font-size: 1rem;
}
.navbar .logo-box-navbar .logo-symbol {
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 0.5rem;
}
.navbar .logo-box-navbar .logo-text {
  margin-left: 0.625rem;
}
.navbar ul {
  list-style-type: none;
  display: flex;
}
.navbar .main-menu {
  padding: 0 0.9375rem 0 1.25rem;
  list-style-type: none;
  display: flex;
}
.navbar .main-menu li {
  padding: 0.625rem;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.875rem;
  color: var(--darkgrey-color);
  cursor: pointer;
}
.navbar .main-menu li:hover {
  opacity: 0.7;
}
.navbar .main-menu .active {
  color: var(--main-color);
}
.navbar .main-menu .active:hover {
  opacity: 1;
  cursor: default;
}
.navbar .user-menu {
  margin-left: auto;
  padding: 0 3.75rem 0 0.9875rem;
  color: var(--darkgrey-color);
}
.navbar .user-menu li {
  padding: 0 0.5rem;
  margin-right: 0.625rem;
  display: flex;
  align-items: center;
  height: 2.25rem;
  border: 0.0625rem solid var(--lightgrey-color);
  border-radius: 0.5rem;
  cursor: pointer;
}
.navbar .user-menu li:last-child {
  margin-right: 0;
}
.navbar .user-menu li i {
  font-size: 1rem;
  margin: 0 0.25rem;
}
.navbar .user-menu li div {
  margin: 0 0.25rem;
  font-size: 0.875rem;
  font-weight: 400;
  white-space: nowrap;
}
.navbar .user-menu li:hover {
  background: rgba(0, 0, 0, 0.03);
}
.navbar .user-menu .language-select {
  padding: 0 !important;
  position: relative;
}
.navbar .user-menu .language-select select {
  padding: 0 1.75rem 0 0.75rem;
  height: 100%;
  background: none;
  z-index: 1;
}
.navbar .user-menu .language-select i {
  position: absolute;
  right: 0.4rem;
}
.navbar::-webkit-scrollbar {
  display: none;
}

.content-sidebar {
  color: var(--box-color);
  background: var(--main-color);
  transition: flex 0.2s;
  overflow-x: hidden;
  display: flex;
  flex-flow: column;
  align-items: flex-end;
}
.content-sidebar::-webkit-scrollbar {
  display: none;
}
.content-sidebar i {
  padding: 1rem 0;
  width: 3.75rem;
  text-align: center;
  font-size: 1.25rem;
  line-height: 1.25rem;
}
.content-sidebar .sidebar-title-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  padding: 0.75rem 0;
  letter-spacing: 0.05em;
  cursor: pointer;
}
.content-sidebar .sidebar-title-box:hover {
  background: var(--light-color);
}
.content-sidebar .sidebar-title {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25rem;
  padding: 1rem 0 1rem 2.5rem;
}
.content-sidebar ul {
  list-style-type: none;
  margin-bottom: 1.5rem;
}
.content-sidebar ul li {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.content-sidebar ul li div {
  font-weight: 500;
  line-height: 1.25rem;
  padding: 1rem 0 1rem 2.5rem;
}
.content-sidebar ul li:hover {
  background: var(--light-color);
}
.content-sidebar ul .active {
  background: var(--body-color);
  color: var(--darkgrey-color);
}
.content-sidebar ul .active:hover {
  background: var(--body-color);
  cursor: default;
}

.content-tab {
  padding: 3.75rem 0;
  overflow: auto;
  display: flex;
  flex-flow: column;
}
.content-tab .box {
  width: 100%;
}

.row {
  margin: 0 auto 2.5rem;
  padding: 0 2.5rem;
  display: flex;
  width: 100%;
  min-width: 32rem;
  max-width: 64rem;
  /* erase for unlimited width */
}
.row:last-child {
  margin-bottom: 0;
}
.row .box {
  flex: 1;
  margin-right: 2.5rem;
}
.row .box:last-child {
  margin-right: 0;
}
.row > .button {
  margin: auto 0 auto auto;
}

#app {
  display: none;
}

#overview-pg {
  display: flex;
}

#administration-pg {
  display: none;
}

#usermanagement-tab {
  display: flex;
}

#rolespermissions-tab {
  display: none;
}

#settings-tab {
  display: none;
}

#loremipsum-tab {
  display: none;
}

#usersettings-pg {
  display: none;
}

.logo-text {
  display: none;
}
