html, body {
  background-color: #000000;
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
  font-size: 1.125rem;
}

.sticky, .sp, .w, .pg {
  background-color: #999999;
}

html, .dark, .dark a, a:link, a:visited, a:active {
  color: #333333;
}

.light, .light a {
  color: #E6E6E6;
}

a:hover {
  color: #666666;
}

.w, .sp {
  display: flex;
}

.w {
  min-height: 66.6667vh;
  flex-wrap: wrap;
  padding: 5.5555vh 0;
}

.b {
  min-height: 88.8889vh;
}

.t, .p {
  margin: auto 0;
  width: calc(100vw - 12.5vw);
  padding: 5.555vh 6.25vw; 
}

.p {
  padding: 0 6.25vw;
}

.sp {
 min-height: calc(11.1111vh + 1.875em);
}

h1, h2, h3, h4, p, li, .button {
  margin: 2.777vh 0;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5em;
  font-weight: 400;
  letter-spacing: 0.025em;
}

h1 {
  font-size: 2em;
  font-weight: 300;
}

h2 {
  font-size: 1.5em;
  font-weight: 700;
}

h3 {
  font-size: 1.25em;
  font-weight: 300;
}

h4 {
  font-size: 0.75em;
}

p {
  font-size: 1em;
}

strong {
  font-weight: 600;
}

a {
  text-decoration: underline;
}

.n {
  text-decoration: none;
}

.sticky {
  padding: 1px 0;
  position: sticky;
  -webkit-position: sticky;
  top: 0;
}

li {
  padding: 0 0 0 3.125vw;
}

@media only screen and (min-width: 720px) {
  
  .w {
    flex-wrap: nowrap;
  }
  
  .t {
    width: calc(50vw - 12.5vw);
  }
  
  .t2 {
    margin: auto 0 auto auto;
  }
  
  .p {
    max-width: 35rem;
    margin: auto;
  }
  
}

@media onl screen and (min-width: 1440px) { 
  
  html{
    font-size: 1.25vw;
  }
  
}

@media only screen and (max-width: 360px) {
  
  html {
    font-size: 5vw;
  }
  
}
