@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  line-height: 125%;
}

html {
  color: #333;
  font-size: 1rem;
  font-family: Montserrat, sans-serif;
  background: #B8BFC8;
}

@media (min-width: 1600px) {
  html {
    font-size: 125%;
  }
}
@media (max-width: 320px) {
  html {
    font-size: 80%;
  }
}

body {
  background: linear-gradient(135deg, #d2dce6, #6e7882);
  background-size: 100vw 100vh;
  background-attachment: fixed;
  background: #B8BFC8;
}

p {
  margin-top: 5vh;
}

h1 {
  font-weight: 600;
  font-size: 1.75rem;
}

h2 {
  font-weight: 600;
  font-size: 1.75rem;
}

h3 {
  font-weight: 400;
}

h4 {
  font-weight: 400;
}

strong {
  font-weight: 500;
}

a {
  font-weight: 600;
  color: currentColor;
}

a:hover {
  color: #2C79FF;
}

.space {
  height: 10vh;
}

.text-field {
  width: 90vw;
  max-width: 30rem;
  margin: auto;
  padding: 0 5vw;
}

.header {
  min-height: calc(60vh);
  scroll-snap-align: top;
  display: flex;
  flex-flow: column;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box {
  margin-right: 1rem;
}

.profile-pic {
  width: 5rem;
  border-radius: 100%;
}

.profile-pic:hover {
  opacity: 90%;
}

.header .text-field {
  margin-bottom: 1rem !important;
}

.header .text-field:last-child {
  margin-bottom: 0 !important;
}

ul {
  list-style-type: none;
}

.menu li {
  line-height: 3.5rem;
  border-bottom: solid 1px rgba(255, 255, 255, 0.15);
}

.menu > a:last-child > li {
  border-bottom: none;
}

.menu-2 {
  display: flex;
  align-items: center;
}

.twitter {
  margin-right: 2rem;
  height: 1.5rem;
}

.youtube {
  height: 1.25rem;
}

.icon {
  fill: #333;
}

.icon:hover {
  fill: #2C79FF;
}

.banner-big {
  min-height: calc(80vh);
  display: flex;
}

.banner-big .text-field {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner-big .text-field h2 {
  color: white;
}

.cardano-logo {
  width: 5rem;
  fill: white;
}

hr {
  width: 90vw;
  margin: auto;
  border: 0;
  height: 1px;
  background: currentColor;
}

.logo {
  text-decoration: none;
}
