html, body {
  background-color: #000000;
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
  font-size: 20px;
}

.sticky, .sp, .w, .pg {
  background-color: #aaaaaa;
}

html, .dark, .dark a, a:link, a:visited, a:active {
  color: #333333;
}

.light, .light a {
  color: #E6E6E6;
}

a:hover {
  color: #666666;
}

.w, .sp, .c {
  display: flex;
}

.w {
  min-height: 66.6667vh;
  flex-wrap: wrap;
  padding: 5.5555vh 0;
}

.b {
  min-height: 88.8889vh;
}

.t, .p {
  margin: auto 0;
  width: calc(100vw - 12.5vw);
  padding: 5.555vh 6.25vw; 
}

.p {
  padding: 0 6.25vw;
}

.sp {
 min-height: calc(11.1111vh + 1.666rem * 1.25);
}

h1, h2, h3, h4, p, li {
  margin: 3.3333vh 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.25em;
  letter-spacing:0.03125em;
}

h1, h2 {
  font-size: 2.2222rem;
  font-weight: 300;
}

h3 {
  font-size: 1.6666rem;
  font-weight: 700;
}

h4 {
  font-size: 1.3333rem;
  font-weight: 300;
}

p {
  font-size: 1rem;
}

strong {
  font-weight: 600;
}

a {
  text-decoration: underline;
}

.n {
  text-decoration: none;
}

.sticky {
  padding: 1px 0;
  position: sticky;
  -webkit-position: sticky;
  top: 0;
}

.c {
  height: 100%;
}

li {
  padding: 0 0 0 3.125vw;
}

@media only screen and (min-width: calc(36rem + 12.5vw)) {
  
  .w {
    flex-wrap: nowrap;
  }
  
  .t {
    width: calc(50vw - 12.5vw);
  }
  
  .t2 {
    margin: auto 0 auto auto;
  }
  
  .p {
    max-width: 36rem;
    margin: auto;
  }
  
}

@media onl screen and (min-width: 72rem) { 
  
  html{
    font-size: 1.388889vw;
  }
  
}

@media only screen and (max-width: 18rem) {
  
  html {
    font-size: 5vw;
  }
  
}
