@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.25;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: #222;
}

body {
  background: #eee;
  font-size: 1em;
  min-width: 15em;
  display: flex;
  flex-flow: column;
  overflow-x: hidden;
  min-height: 100vh;
}

.wrapper {
  flex: 1;
  min-width: 15em;
  display: flex;
  flex-flow: column;
  padding: 0 0 4em;
}
@media (min-width: 40em) {
  .wrapper {
    padding: 0;
  }
}

.box {
  display: flex;
  align-items: center;
}

.spacy {
  justify-content: space-between;
}

.spacy {
  justify-content: space-between;
}

.row-wrap {
  flex-flow: row wrap;
}

.space {
  font-size: 1em;
  min-height: 1.5em;
  height: 4vh;
}

.wrapper-home > .space {
  font-size: 0.75em;
  min-height: 2em;
  height: 10vh;
  text-align: right;
  padding: 0 1.3333333333em;
  line-height: 2.6666666667em;
}
@media (min-width: 40em) {
  .wrapper-home > .space {
    padding: 0 10vw;
  }
}

.container {
  flex: 1;
  display: flex;
  padding: 0 1em;
  min-height: 60vh;
  flex-flow: column;
}
@media (min-width: 40em) {
  .container {
    margin: 0 10vw;
  }
}

@media (min-width: 40em) {
  .container-menu {
    flex-flow: row;
  }
}

.base {
  flex: 1;
  width: 100%;
  max-width: 40em;
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin: 1.5em 0;
}
@media (min-width: 40em) {
  .base {
    margin: 3em auto;
  }
}

.base > * {
  margin-bottom: 1.5em;
}

.base > :last-child {
  margin-bottom: 0;
}

.line {
  height: 1px;
  background: currentColor;
  width: auto;
  margin: 1.5em 0;
}
@media (min-width: 60em) {
  .line {
    margin: 3em 0;
  }
}

ul {
  list-style: none;
}

li {
  padding: 0.75em 0;
  cursor: pointer;
}

li:hover {
  color: peru;
}

.earn-bonus {
  font-size: 0.75em;
  background: white;
  margin: -0.25em 0 -0.25em 0.6666666667em;
  padding: 0.3333333333em 1em 0.4166666667em;
  text-align: center;
  color: currentColor;
  border: 1px solid #6ec3f7;
  border-radius: 4px;
}

.link {
  font-size: 1em;
  text-decoration: underline;
  color: #777;
  cursor: pointer;
}

.link:hover {
  color: peru;
}

.link-delete {
  text-decoration: none;
}

.icon {
  width: 2em;
  height: 2em;
}

.icon-right {
  margin-left: -2.25em;
}

.icon-left {
  margin-right: -2.25em;
}

.icon-fill {
  fill: #222;
}

.icon-fill:hover {
  fill: peru;
}

.icon-stroke {
  stroke: currentColor;
  fill: none;
}

.icon-stroke-high {
  stroke: peru;
  fill: none;
}

.select ~ .icon {
  z-index: -1;
}

.select {
  font-size: 1em;
  letter-spacing: 0.05em;
  line-height: 2em;
  font-weight: 500;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  background: none;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
}

.select:hover {
  color: peru;
  background-color: rgba(0, 0, 0, 0.0666666667);
}

.select-quantity {
  font-weight: 600;
  min-width: 3.75em;
  padding: 0 2.5em 0 0.75em;
}

.select-language {
  font-weight: 400;
  padding: 0 0.75em 0 2.5em;
}

.language-menu {
  margin: 0.375em auto 0.375em -0.625em;
}

.input {
  font-size: 1em;
  letter-spacing: 0.05em;
  line-height: 2.5em;
  font-weight: 400;
  border: 1px solid #222;
  border-radius: 4px;
  width: 100%;
  color: currentColor;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}

.input:hover {
  border-color: peru;
}

.input-locked:hover {
  border: 1px solid #ddd;
}

.headline {
  color: currentColor;
  font-size: 1.75em;
  font-weight: 300;
}

.stat,
.paragraph,
.product-short-info {
  font-size: 1em;
}

.product-name,
.profile-name,
.number {
  font-size: 1.5em;
}

.profile-name, .product-name {
  margin-bottom: 0.5em;
}

.currency-sign,
.price,
.subheadline {
  font-size: 1.25em;
}

.profile-name, .product-name {
  margin-bottom: 0.5em;
}

.label {
  font-size: 0.75em;
  color: #777;
  margin-bottom: 0.6666666667em !important;
}

.button {
  font-size: 1em;
  letter-spacing: 0.125em;
  font-weight: 500;
  padding: 0 3em;
  text-align: center;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  line-height: 2em;
  color: currentColor;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background: linear-gradient(#42b8ff, DarkTurquoise);
}

.button-1 {
  background: linear-gradient(DarkTurquoise, #42b8ff);
  border: 1px solid DarkTurquoise;
  color: white;
  line-height: 2.5em;
}

.button-2 {
  text-transform: uppercase;
  border: 1px solid currentColor;
}

.button-3 {
  background: linear-gradient(#777777, #333333);
  color: white;
  line-height: 2.5em;
  border: 1px solid #222;
}

.button-3:hover {
  border: 1px solid DarkTurquoise;
}

.distance-from-top {
  font-size: 0.75em;
  letter-spacing: 0.05em;
  font-weight: 400;
  padding: 1.3333333333em;
  position: fixed;
  left: 0;
  bottom: 0;
  display: none;
}
@media (min-width: 40em) {
  .distance-from-top {
    display: block;
  }
}

.distance-from-top > .line {
  width: 0.5em;
  margin: 0 0 0.25em;
}

.logo {
  font-size: 1.125em;
  font-weight: 500;
  letter-spacing: 0.5em;
  line-height: 2.4444444444em;
  text-transform: uppercase;
  cursor: pointer;
}

.logo:hover {
  opacity: 0.6;
}

.toogler {
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 0.025em;
  line-height: 1.5em;
  margin: auto 0;
  padding: 0 0.75em;
  background: linear-gradient(#42b8ff, DarkTurquoise);
  color: white;
  border: 1px solid DarkTurquoise;
  border-radius: 4px;
  cursor: pointer;
}

.toogler:hover {
  background: linear-gradient(DarkTurquoise, #42b8ff);
  border-color: DarkTurquoise;
}

.toogler-close {
  background: linear-gradient(#777777, #333333);
  border-color: #222;
}

.nav-bar {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 2.75em;
  z-index: 10;
  background: rgba(204, 204, 204, 0.75);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  padding: 0 1em;
}
@media (min-width: 40em) {
  .nav-bar {
    padding: 0 10vw;
  }
}

.box-alert {
  line-height: 2.25em;
  padding: 0 1em;
  z-index: 10;
  position: fixed;
  top: 3em;
  left: 0;
  width: 100%;
  background: DarkTurquoise;
  color: white;
  display: none;
}
@media (min-width: 40em) {
  .box-alert {
    padding: 0 10vw;
  }
}

.menu::-webkit-scrollbar {
  display: none;
}

.menu {
  position: fixed;
  z-index: 9;
  top: 0;
  right: -100vw;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  transition: 0.5s opacity, 0.5s right 0.5s;
  opacity: 0;
  background: linear-gradient(135deg, #eeeeee, #cccccc);
  display: flex;
  flex-flow: column;
}

.wrapper-menu {
  padding: 2.75em 0 4em;
}

@media (min-width: 40em) {
  .container-menu {
    flex: 1;
    flex-flow: row;
  }
}

@media (min-width: 40em) {
  .line-menu {
    width: 1px;
    height: auto;
    margin: 0 2.5em;
  }
}
@media (min-width: 60em) {
  .line-menu {
    margin: 0 10vw;
  }
}

.menu-product-image {
  margin-left: 1em;
  min-width: 5em;
  min-height: 5em;
  width: 10vw;
  height: 10vw;
  max-width: 8em;
  max-height: 8em;
  background: url("https://i.ibb.co/HqFRvhN/cacao-crystal.jpg") center/cover no-repeat;
  border-radius: 4px;
}

.box-product-info {
  align-items: flex-start;
}
@media (min-width: 40em) {
  .box-product-info {
    align-items: center;
  }
}

.base-main-menu {
  margin: 0.75em 0;
}

.base-main-menu > * {
  margin-bottom: 0;
}

.footer {
  padding: 0.75em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.footer > .box {
  margin: 0.75em 1em;
  color: #777;
  display: flex;
}

.copyright {
  font-size: 1em;
  margin: 0.75em 1em;
  color: #777;
  text-align: center;
}

.wrapper-home > .container {
  background-color: white;
}

.banner-1 {
  color: white;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)), url("https://i.ibb.co/KGrsGVd/cocoa-1.jpg") center/cover no-repeat;
}

.banner-1 > .base {
  padding: 0 1em;
  color: white;
  align-items: center;
  text-align: center;
}

#html-login,
#html-checkout,
#html-success,
#html-account,
#html-orders,
#html-recommend,
#html-faq,
#html-terms,
#html-contact {
  display: none;
}