@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap");
#html-login,
#html-checkout,
#html-success,
#html-account,
#html-orders,
#html-recommend,
#html-faq,
#html-terms,
#html-contact {
  display: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.25;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: #222;
}

body {
  background: #ddd;
  font-size: 1em;
  min-width: 15em;
  display: flex;
  flex-flow: column;
  overflow-x: hidden;
}

.wrapper {
  min-height: calc(100vh - 2.75em);
  min-width: 15em;
  display: flex;
  flex-flow: column;
  padding: 0 0 4em;
}
@media (min-width: 40em) {
  .wrapper {
    padding: 0 0 2em;
  }
}

.wrapper-login {
  background: linear-gradient(135deg, #dddddd, #bfbfbf);
}

.space {
  font-size: 1em;
  min-height: 1.5em;
  height: 5vh;
}

.space-with-number {
  font-size: 0.75em;
  min-height: 2em;
  height: 10vh;
  text-align: right;
  padding: 0 1.3333333333em;
  line-height: 2.6666666667em;
}
@media (min-width: 40em) {
  .space-with-number {
    padding: 0 10vw;
  }
}

.container {
  flex: 1;
  display: flex;
  padding: 0 1em;
  min-height: 60vh;
  flex-flow: column;
}
@media (min-width: 40em) {
  .container {
    margin: 0 10vw;
  }
}

@media (min-width: 40em) {
  .container-menu {
    flex-flow: row;
  }
}

.base {
  flex: 1;
  width: 100%;
  max-width: 30em;
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin: 1.5em auto;
}
@media (min-width: 40em) {
  .base {
    margin: 3em auto;
  }
}

.base > * {
  margin-bottom: 1.5em;
}

.base > :last-child {
  margin-bottom: 0;
}

.box {
  display: flex;
  align-items: center;
}

.spacy {
  justify-content: space-between;
}

.row-wrap {
  flex-flow: row wrap;
}

.reverse {
  flex-flow: row-reverse;
}

.line {
  height: 2px;
  background: #777;
  width: auto;
  margin: 1.5em 0;
}
@media (min-width: 60em) {
  .line {
    margin: 4.5em 0;
  }
}

ul {
  list-style: none;
}

li {
  padding: 1em 0;
  cursor: pointer;
  border-bottom: 2px solid rgba(0, 0, 0, 0.0666);
}

li:hover, li:hover * {
  color: #777;
}

.earn-bonus {
  font-size: 0.75em;
  font-weight: 500;
  background: white;
  margin: -0.25em 0 -0.25em 1em;
  padding: 0.3333333333em 1em 0.4166666667em;
  text-align: center;
  color: currentColor;
  border: 2px solid;
  border-color: #42b8ff;
  border-radius: 2px;
}

.log-out-icon {
  margin-left: 0.75em;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

.link {
  font-size: 1em;
  font-weight: 400;
  text-decoration: underline;
  color: #777;
  cursor: pointer;
}

.link:hover {
  color: #42b8ff;
}

.link-delete {
  text-decoration: none;
}

.icon {
  width: 2em;
  height: 2em;
}

.icon-right {
  margin-left: -2.25em;
}

.icon-left {
  margin-right: -2.25em;
}

.icon-fill {
  fill: #222;
  border-radius: 2px;
}

.icon-fill-white {
  fill: white;
  border-radius: 2px;
}

.icon-fill:hover {
  fill: DarkTurquoise;
}

.icon-stroke-one {
  stroke: #42b8ff;
  fill: none;
}

.icon-stroke-two {
  stroke: DarkTurquoise;
  fill: none;
}

.icon-stroke {
  stroke: #222;
  fill: none;
}

.select {
  z-index: 1;
  font-size: 1em;
  letter-spacing: 0.05em;
  line-height: 2em;
  font-weight: 500;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  background: none;
  border: 0;
  border-radius: 2px;
  cursor: pointer;
}

.select:hover ~ .icon {
  stroke: #777;
}

.select:hover {
  color: #777;
  background-color: rgba(0, 0, 0, 0.0666666667);
}

.select:hover {
  color: #777;
  background-color: rgba(0, 0, 0, 0.0666666667);
}

.select-quantity {
  font-weight: 500;
  min-width: 3.75em;
  padding: 0 2.5em 0 0.75em;
}

.select-language {
  font-weight: 400;
  padding: 0 0.75em 0 2.5em;
}

.language-menu {
  margin: 0.75em auto 0.75em -0.5em;
}
.language-menu .select-language {
  padding: 0 0.75em 0 2.5em;
}

.language-menu > .select:hover {
  background: none;
}

.input {
  font-size: 1em;
  letter-spacing: 0.05em;
  line-height: 2.5em;
  font-weight: 400;
  padding: 0 0.75em;
  border: 2px solid;
  border-color: #777;
  border-radius: 2px;
  width: 100%;
  color: currentColor;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}

.input:hover {
  border-color: #42b8ff;
}

.input-locked {
  border: 2px solid;
  border-color: #eee;
  background: #eee;
  cursor: default;
}

.headline {
  color: currentColor;
  font-size: 1.75em;
  letter-spacing: 0.0625em;
  font-weight: 300;
}

.stat,
.paragraph,
.product-short-info {
  font-size: 1em;
  color: #777;
}

.product-short-info {
  padding-bottom: 1.5em;
  border-bottom: 2px solid DarkTurquoise;
}

.product-name,
.profile-name,
.number {
  font-size: 1.5em;
}

.number {
  font-weight: 600;
  letter-spacing: 0.05em;
}

.profile-name,
.product-name {
  margin-bottom: 0.5em;
}

.currency-sign,
.price,
.subheadline {
  font-size: 1.25em;
}

.price {
  font-weight: 500;
}

.profile-name,
.product-name {
  margin-bottom: 0.5em;
}

.label {
  font-size: 0.75em;
  letter-spacing: 0.05em;
  color: #777;
  margin-bottom: 0.6666666667em !important;
}

.currency-ticker {
  font-size: 0.5em;
}

.button {
  font-size: 1em;
  letter-spacing: 0.125em;
  font-weight: 500;
  padding: 0 3em;
  text-align: center;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  line-height: 2em;
  color: currentColor;
  border-radius: 2px;
  cursor: pointer;
}

.button:hover {
  background: linear-gradient(#42b8ff, darkturquoise);
}

.button-1 {
  background: linear-gradient(DarkTurquoise, #42b8ff);
  border: 2px solid;
  border-color: DarkTurquoise;
  color: white;
  line-height: 2.5em;
}

.button-2 {
  text-transform: uppercase;
  border: 2px solid;
  border-color: currentColor;
}

.button-3 {
  background: linear-gradient(#777777, #333333);
  color: white;
  line-height: 2.5em;
  border: 2px solid;
  border-color: #777;
}

.button-3:hover {
  border: 2px solid;
  border-color: DarkTurquoise;
}

.distance-from-top {
  font-size: 0.75em;
  letter-spacing: 0.05em;
  font-weight: 400;
  padding: 1.3333333333em;
  position: fixed;
  left: 0;
  bottom: 0;
  display: none;
}
@media (min-width: 40em) {
  .distance-from-top {
    display: block;
  }
}

.distance-from-top > .line {
  width: 0.5em;
  margin: 0 0 0.25em;
}

.logo {
  font-size: 1.125em;
  font-weight: 500;
  letter-spacing: 0.5em;
  line-height: 2.4444444444em;
  text-transform: uppercase;
  cursor: pointer;
}

.logo:hover {
  opacity: 0.6;
}

.toogler {
  font-size: 0.875em;
  font-weight: 400;
  letter-spacing: 0.025em;
  line-height: 1.75em;
  margin: auto 0;
  padding: 0 0.75em;
  border-radius: 2px;
  cursor: pointer;
}

.toogler-default {
  color: white;
  border: 2px solid;
  background: linear-gradient(#777777, #333333);
  border-color: #777;
}

.toogler-highlighted {
  background: linear-gradient(#42b8ff, darkturquoise);
  color: white;
}

.toogler:hover {
  background: linear-gradient(DarkTurquoise, #42b8ff);
  border-color: DarkTurquoise;
}

.toogler-close {
  color: white;
  border: 2px solid;
  border-color: DarkTurquoise;
  background: linear-gradient(#777777, #333333);
  border-color: #777;
}

.nav-bar {
  position: sticky;
  top: 0;
  padding: 0 1em;
  background: #ddd;
  transition: 0.3s background;
}
@media (min-width: 40em) {
  .nav-bar {
    padding: 0 10vw;
  }
}

.glass-effect {
  background: rgba(204, 204, 204, 0.7);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}

.sticky-menu {
  position: sticky;
  top: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 100vh;
  transition: 0.5s box-shadow;
  height: 2.75em;
  transition: 0.5s height;
}

.box-alert {
  font-size: 1em;
  font-weight: 500;
  letter-spacing: 0.025em;
  line-height: 2.25em;
  padding: 0 1em;
  z-index: 10;
  position: fixed;
  top: 2.75em;
  left: 0;
  width: 100%;
  color: white;
  display: none;
  cursor: pointer;
  background: linear-gradient(rgba(66, 184, 255, 0.7), rgba(0, 206, 209, 0.7));
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
@media (min-width: 40em) {
  .box-alert {
    padding: 0 10vw;
  }
}

/* .menu::-webkit-scrollbar {
  display: none;
} */
.menu {
  background: linear-gradient(135deg, #dddddd, #bfbfbf);
  flex-flow: column;
  height: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  position: sticky;
  top: 2.75em;
  z-index: 10;
  transition: 0.5s height;
}

.wrapper-menu {
  padding: 0 0 5.5em;
}
@media (min-width: 40em) {
  .wrapper-menu {
    padding: 1.5em 0 3em;
    min-height: calc(100vh - 2.75em);
  }
}

.container-menu {
  flex: 1;
}
@media (min-width: 40em) {
  .container-menu {
    flex-flow: row;
    padding: 0;
  }
}

.line-menu {
  background: #999999;
}
@media (min-width: 40em) {
  .line-menu {
    width: 2px;
    height: auto;
    margin: 0 2.5em;
  }
}
@media (min-width: 60em) {
  .line-menu {
    margin: 0 10vw;
  }
}

.menu-cart-icon {
  display: none;
  border-radius: 2px;
}

.menu-product-image {
  display: none;
  margin-left: 1em;
  min-width: 5em;
  min-height: 5em;
  width: 10vw;
  height: 10vw;
  max-width: 8em;
  max-height: 8em;
  background: url("https://i.ibb.co/HqFRvhN/cacao-crystal.jpg") center/cover no-repeat;
  border-radius: 2px;
}

.box-product-info {
  align-items: flex-start;
}
@media (min-width: 40em) {
  .box-product-info {
    align-items: center;
  }
}

.base-main-menu {
  margin: 0.5em auto;
}
@media (min-width: 40em) {
  .base-main-menu {
    margin: 1.75em auto;
  }
}

.base-main-menu > * {
  margin-bottom: 0;
}

.footer {
  padding: 0.75em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.footer > .box {
  margin: 0.75em 1em;
  color: #777;
  display: flex;
}

.copyright {
  font-size: 1em;
  margin: 0.75em 1em;
  color: #777;
  text-align: center;
}

.footer * {
  color: #777;
  stroke: #777;
}

.wrapper-home > .container {
  background-color: white;
}

.banner-1 {
  min-height: 70vh;
  color: white;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)), url("https://i.ibb.co/KGrsGVd/cocoa-1.jpg") center/cover no-repeat;
}

.banner-1 > .base {
  padding: 0 1em;
  color: white;
  align-items: center;
  text-align: center;
}

.profile-pic {
  min-width: 5em;
  min-height: 5em;
  width: 20vw;
  height: 20vw;
  max-width: 8em;
  max-height: 8em;
  margin-left: 1em;
  border-radius: 2px;
}

.box-user {
  align-items: flex-start;
}
@media (min-width: 40em) {
  .box-user {
    align-items: center;
  }
}

.gap {
  width: 1em;
}

.block {
  flex: 1;
  display: flex;
  flex-flow: column;
}

.box-checkbox {
  cursor: pointer;
}

.box-checkbox:hover {
  color: #42b8ff;
}
.box-checkbox:hover .checkbox {
  border: 2px solid;
  border-color: #42b8ff;
}

.checkbox,
.checkmark {
  width: 1.5em;
  height: 1.5em;
}

.checkbox {
  margin-right: 1em;
  background: white;
  border: 2px solid;
  border-color: #777;
  box-sizing: content-box;
  border-radius: 2px;
}

.checkmark {
  stroke: #6ec3f7;
  display: none;
}

.checked .checkmark {
  display: block;
}

.container-referral-stats {
  align-items: flex-start;
  align-content: flex-start;
  background: linear-gradient(135deg, #222222, #7f7f7f);
  border-radius: 4px;
  border: #777;
  padding: 1.5em 1em;
}
@media (min-width: 50em) {
  .container-referral-stats {
    justify-content: space-evenly;
  }
  .container-referral-stats .block {
    flex: none;
  }
}

.container-referral-stats * {
  color: white;
}

.container-referral-stats > .block {
  padding: 1.5em 0;
  min-width: 8em;
}

.container-referral-stats > .block:first-child * {
  color: #42b8ff;
}

#user-name {
  margin-left: 0.75em;
  display: none;
  font-weight: 500;
}

.color-one {
  color: #42b8ff;
}

.color-two {
  color: DarkTurquoise;
}

.color-white {
  color: white;
}