@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.25;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #222;
}

/*
::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}
::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  background: $silk;
}
::-webkit-scrollbar-thumb {
  background: $platinum;
}
::-webkit-scrollbar-thumb:hover {
  background: $silver;
} */
body {
  background: #eee;
  font-size: 1em;
}

.nav-bar {
  min-width: 15em;
}

.body {
  min-width: 15em;
  overflow-x: hidden;
}

/**** WRAPPER ****/
.wrapper {
  min-width: 15em;
  display: flex;
  flex-flow: column;
  min-height: auto;
  width: 100%;
  overflow-x: hidden;
}

/* menu */
.menu::-webkit-scrollbar {
  display: none;
}

.menu {
  position: fixed;
  z-index: 9;
  top: 0;
  padding: 2.25em 0 0;
  right: -100vw;
  width: 100%;
  height: 100vh;
  overflow: auto;
  transition: 0.5s opacity, 0.5s right 0.5s;
  opacity: 0;
  background: linear-gradient(135deg, #eeeeee, #cccccc);
}

/**** SPACE ****/
.space {
  height: 5vh;
  min-height: 1em;
  text-align: right;
  padding: 0 1.3333333333em;
  line-height: 2.6666666667em;
}
@media (min-width: 40em) {
  .space {
    padding: 0 10vw;
  }
}

/**** BOX ****/
.box {
  display: flex;
  align-items: center;
}

.spacy {
  justify-content: space-between;
}

.row-wrap {
  flex-flow: row wrap;
}

.box-logo-menu,
.box-alert {
  height: 3em;
  padding: 0 1em;
}
@media (min-width: 40em) {
  .box-logo-menu,
.box-alert {
    padding: 0 10vw;
  }
}

.box-alert {
  z-index: 10;
  position: fixed;
  top: 3em;
  left: 0;
  width: 100%;
  background: #33cccc;
  color: white;
  display: none;
}

.box-user,
.box-product-info {
  align-items: flex-start;
}
@media (min-width: 40em) {
  .box-user,
.box-product-info {
    align-items: center;
  }
}

.footer {
  padding: 1.5em 0 5.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.copyright {
  margin: 1em 1.3333333333em;
  color: #777;
  text-align: center;
}

.footer  > .box  {
  margin: 0.75em 1em;
  color: #777;
}

/* main navigation bar */
.nav-bar {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background: rgba(204, 204, 204, 0.75);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}

.logo {
  cursor: pointer;
  font-size: 1.25em;
  line-height: 2.4em;
  text-transform: uppercase;
}

.logo:hover {
  color: peru;
}

/**** CONTAINER ****/
.container {
  flex: 1;
  display: flex;
  padding: 0 1em;
  min-height: 60vh;
  flex-flow: column;
}
@media (min-width: 40em) {
  .container {
    margin: 0 10vw;
  }
}

@media (min-width: 40em) {
  .container-menu {
    flex-flow: row;
    min-height: auto;
  }
}

.wrapper-home > .container {
  background-color: white;
}

.banner-1 {
  background: url("https://i.ibb.co/KGrsGVd/cocoa-1.jpg") center/cover no-repeat;
}

.banner-1 > .base {
  padding: 0 1em;
  color: white;
  align-items: center;
  text-align: center;
}

/**** BASE ****/
.base {
  flex: 1;
  width: 100%;
  max-width: 40em;
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin: 2em 0;
}
@media (min-width: 40em) {
  .base {
    margin: 3em auto;
  }
}

.base > * {
  margin-bottom: 1.5em;
}

.base > :last-child {
  margin-bottom: 0;
}

.base-main-menu {
  margin: 1.25em 0;
}

.base-main-menu > * {
  margin-bottom: 0;
}

@media (min-width: 40em) {
  .base {
    margin: 2.5em auto;
  }
}
/**** TYPOGRAPHY ****/
/* Font size*/
.headline {
  font-size: 1.75em;
}

.product-name,
.profile-name,
.number {
  font-size: 1.5em;
}

.profile-name, .product-name {
  margin-bottom: 0.5em;
}

.currency-sign,
.price,
.subheadline {
  font-size: 1.25em;
}

/**** BUTTON ****/
/**** BUTTON ****/
.button {
  font-size: 1em;
  letter-spacing: 0.125em;
  font-weight: 500;
  padding: 0 3em;
  text-align: center;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  line-height: 2em;
  color: currentColor;
  border-radius: 4px;
}

.button:hover {
  background: linear-gradient(#33cccc, #6ec3f7);
}

.button-1 {
  background: linear-gradient(#6ec3f7, #33cccc);
  border: 1px solid #33cccc;
  color: white;
  line-height: 3em;
}

.button-2 {
  text-transform: uppercase;
  border: 1px solid currentColor;
}

.button-3 {
  background: linear-gradient(#777777, #333333);
  color: white;
  line-height: 2.5em;
  border: 1px solid #222;
}

.button-3:hover {
  border: 1px solid #33cccc;
}

.toogler,
.copyright,
.stat,
.paragraph,
.product-short-info {
  font-size: 1em;
}

.label {
  font-size: 0.75em;
  color: #777;
  margin-bottom: 0.6666666667em !important;
}

.currency-ticker,
.earn-bonus,
.space,
.distance-from-top {
  font-size: 0.75em;
}

/* font weight*/
.headline {
  font-weight: 300;
}

li,
.stat {
  font-weight: 400;
}

.product-name,
.profile-name {
  font-weight: 400;
}

.logo,
.price,
.number {
  font-weight: 500;
}

/* letter spacing */
.logo {
  letter-spacing: 0.5em;
}

.toogler {
  letter-spacing: 0.125em;
}

.headline,
.space,
.distance-from-top {
  letter-spacing: 0.05em;
}

/* colors */
.space,
.distance-from-top,
.paragraph,
.product-short-info {
  color: #777;
}

/* solo */
.headline {
  color: currentColor;
}

.stat {
  margin-top: 0.2857142857em;
  color: #777;
}

.input {
  font-size: 1em;
  letter-spacing: 0.05em;
  line-height: 2.5em;
  font-weight: 400;
  border-radius: 4px;
  color: currentColor;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.input:hover {
  border-color: peru;
}

.input-locked:hover {
  border: 1px solid #ddd;
}

.select {
  font-size: 1em;
  letter-spacing: 0.05em;
  line-height: 2em;
  font-weight: 500;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  background: none;
  border: 0;
  border-radius: 4px;
}

.select:hover {
  color: peru;
  background-color: rgba(0, 0, 0, 0.0666666667);
}

.select-quantity {
  font-weight: 600;
  min-width: 3.75em;
  padding: 0 2.5em 0 0.75em;
}

.select-language {
  font-weight: 400;
  padding: 0 0.75em 0 2.5em;
}

.language-menu {
  margin: 0 auto 0 -0.625em;
}

.icon {
  width: 2em;
  height: 2em;
}

.icon-right {
  margin-left: -2.25em;
}

.icon-left {
  margin-right: -2.25em;
}

.icon-fill {
  fill: #222;
}

.icon-fill:hover {
  fill: peru;
}

.icon-stroke {
  stroke: #222;
  fill: none;
}

.icon-stroke-high {
  stroke: peru;
  fill: none;
}

.icon-stroke:hover {
  stroke: peru;
}

.select ~ .icon {
  z-index: -1;
}

.input {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  padding: 0 0.75em;
  border: 1px solid #222;
  outline: none;
  background: white;
  width: 100%;
  overflow: hidden;
}

.input-locked {
  border: 1px solid #ddd;
  background: #ddd;
}

.box-checkbox {
  cursor: pointer;
}

.box-checkbox:hover {
  color: peru;
}
.box-checkbox:hover .checkbox {
  border: 1px solid peru;
}

.checkbox,
.checkmark {
  width: 1.5em;
  height: 1.5em;
}

.checkbox {
  margin-right: 1em;
  background: white;
  border: 1px solid currentColor;
  box-sizing: content-box;
  border-radius: 4px;
}

.checkmark {
  stroke: #6ec3f7;
  display: none;
}

.checked .checkmark {
  display: block;
}

/**** TOOGLER ****/
.toogler {
  line-height: 1.75em;
  height: 1.75em;
  margin: auto 0;
  padding: 0 1em;
  background: linear-gradient(#6ec3f7, #52e0bd);
  border: 1px solid #6ec3f7;
  border-radius: 4px;
}

.toogler:hover {
  background: linear-gradient(#52e0bd, #6ec3f7);
}

.toogler-buy {
  background: #6ec3f7;
  color: white;
}

/* inputs */
ul {
  list-style: none;
}

li {
  padding: 0.75em 0;
}

li:hover {
  color: peru;
}

.earn-bonus {
  background: white;
  margin: -0.25em 0 -0.25em 0.6666666667em;
  padding: 0.3333333333em 1em 0.4166666667em;
  text-align: center;
  color: currentColor;
  border: 1px solid #6ec3f7;
  border-radius: 4px;
}

.link {
  text-decoration: underline;
  color: #777;
}

.link:hover {
  color: peru;
}

.link-delete {
  text-decoration: none;
}

/* Small Elements */
.line {
  height: 1px;
  background: currentColor;
  width: auto;
  margin: 2em 0;
}
@media (min-width: 60em) {
  .line {
    margin: 4em 0;
  }
}

@media (min-width: 40em) {
  .line-menu {
    width: 1px;
    height: auto;
    margin: 1em 2.5em;
  }
}
@media (min-width: 60em) {
  .line-menu {
    margin: 1em 10vw;
  }
}

.block {
  flex: 1;
  display: flex;
  flex-flow: column;
}

/* gap */
.gap {
  width: 1em;
}

/* distance from top = bottom-left fancy indicator */
.distance-from-top {
  padding: 1.3333333333em;
  position: fixed;
  left: 0;
  bottom: 0;
  display: none;
}

/**** Images ****/
.menu-product-image {
  margin-left: 1em;
  min-width: 6em;
  min-height: 6em;
  width: 10vw;
  height: 10vw;
  max-width: 8em;
  max-height: 8em;
  background: url("https://i.ibb.co/HqFRvhN/cacao-crystal.jpg") center/cover no-repeat;
  border-radius: 4px;
}

.profile-pic {
  min-width: 4em;
  min-height: 4em;
  width: 20vw;
  height: 20vw;
  max-width: 8em;
  max-height: 8em;
  margin-left: 1em;
}

@media (min-width: 40em) {
  .distance-from-top {
    display: block;
  }
}

.distance-from-top > .line {
  width: 0.5em;
  margin: 0 0 0.25em;
}

/******* BOTTOM PART ********/
li,
.button,
.toogler,
.select,
.link,
.box-alert,
.icon {
  cursor: pointer;
}

#html-login,
#html-checkout,
#html-success,
#html-account,
#html-orders,
#html-recommend,
#html-faq,
#html-terms,
#html-contact {
  display: none;
}