* {
  margin: 0;
  padding: 0;
}

html, body, div {
  height: 100%;
  width: 100%;
}

html {
  font-family: sans-serif;
}

body {
  background: SkyBlue;
  transition: background 0.5s;
}

div {
  display: flex;
  overflow: hidden;
  cursor: pointer;
}

.dice {
  margin: auto;
  width: auto;
  height: 50vh;
  max-height: 50vw;
}

rect {
  fill: #fff;
}

circle {
  fill: #333;
}

#dice-2 {
  display: none;
}

#dice-3 {
  display: none;
}

#dice-4 {
  display: none;
}

#dice-5 {
  display: none;
}

#dice-6 {
  display: none;
}
