* {
  margin: 0;
  padding: 0;
}

html, body, div {
  height: 100%;
  width: 100%;
}

html {
  color: #333;
  font-family: sans-serif;
}

body {
  background: DarkSeaGreen;
}

@keyframes colors {
  0% {background: DarkSeaGreen;}
  33% {background: SkyBlue;}
  66% {background: Khaki;}
  100% {background: DarkSeaGreen;}
}

.bg-animation {
  animation: colors 2s;
}

/** div {
  text-align: center;
  font-size: 80vh;
  line-height: 100vh;
  cursor: pointer;
} **/

div {
  display: flex;
  overflow: hidden;
  cursor: pointer;
}

.dice {
  margin: auto;
  width: auto;
  height: 66vh;
  max-height: 66vw;
}

#dice-2 {
  display: none;
}

#dice-3 {
  display: none;
}

#dice-4 {
  display: none;
}

#dice-5 {
  display: none;
}

#dice-6 {
  display: none;
}
