* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.body {
  background: black;
  overflow-x: hidden;
  overflow-y: hidden;
}

/* Basic Elements */
.wrapper,
.container,
.base {
  display: flex;
  flex-flow: column;
}

.base > :last-child {
  margin-bottom: none;
}

.row {
  display: flex;
  flex-flow: row;
}

/* Typo */
h1 {
  font-family: sans-serif;
  font-size: 2em;
  letter-spacing: 0.05em;
}

p {
  margin-top: 2em;
  font-size: 1em;
  letter-spacing: 0.05em;
}

/* Structures */
.wrapper {
  min-height: 100vh;
}

.container {
  min-height: 100vh;
  overflow: hidden;
}

.base {
  margin: auto;
  padding: 1em;
  width: 100%;
  min-width: 15em;
  max-width: 30em;
}

#container-1 {
  color: white;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9));
  -webkit-backdrop-filter: saturate(125%) blur(5px);
  backdrop-filter: saturate(125%) blur(5px);
}

#container-1 .base {
  align-items: center;
  text-align: center;
}

.logo {
  fill: white;
  max-width: 80vw;
  min-width: 200px;
}